body {
    font-family: Arial, sans-serif;
    background-color: rgb(240, 240, 240); 
    margin: 5;
    padding: 0;
}

header, footer {
    text-align: center;
    padding: 10px;
    background-color: rgb(247, 164, 68); 
    font-size: 12px;
    color: rgb(30, 30, 30);
}

nav ul {
    list-style-type: none;
    padding: 0; 
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(30, 30, 200);
    font-size: 16px;
    font-weight: bold; 
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: rgb(247, 164, 68); 
    color: white; 
}

h2, h3 {
    color: black; 
    font-size: 18px;
    font-weight: 400; 
}

section p {
    color: rgb(60, 60, 60);
    font-size: 14px; 
    font-style: italic; 
    line-height: 16px; 
}

section p.description {
    color: rgb(100, 100, 100);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

section ul.characteristics {
    list-style-image: url('');
    padding-left: 20px;
}

section ul.characteristics li {
    margin-bottom: 5px;
    font-size: 14px;
    color: rgb(50, 50, 50);
}
